.mens-collection {
    background-color: #f8f8f8;
    width: 100%;
    height: auto;
    margin-top: -172px;
    margin-bottom: 60px;
}

.mens-collection__ave-img {
    position: absolute;
    top: 350px;
    left: 10%;
    width: 75%;
    max-width: 1160px;
}

.mens-collection__link {
    position: absolute;
    top: 670px;
    right: 10%;
}

