.sort {
    margin-bottom: 60px;
}

.sort button {
    font-size: 13px;
    font-family: "monserat-semi-bold", Arial, sans-serif;
    text-transform: uppercase;
    color:#727272;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 45px;
}